:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(../src/assets/fond-accueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container{
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
h1{
  font-size: 5em;
  line-height: 1.1;
  color: #c6e2ff;
  text-shadow:
          0 0 6px rgba(202,228,225,0.92),
          0 0 30px rgba(202,228,225,0.34),
          0 0 12px rgba(30,132,242,0.52),
          0 0 21px rgba(30,132,242,0.92),
          0 0 34px rgba(30,132,242,0.78),
          0 0 54px rgba(30,132,242,0.92);
}
.containerContainerTags{
  margin-top: 250px;
  height: fit-content;

}
.containerTags{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}
.yourTags{
  width: 100%;
}
.separator{
  border: 1px black solid;
}
.tags{
  width: 100%;
}
.inputTag{
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 350px;
}

.containerButtonChat{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}
.chatVideo{
  width: 100%;
}
.chat{
  width: 100%;
}
button{
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 150px;
  font-weight: 600;
  font-size: large;
}
button:hover{
  background-color: transparent;
  box-shadow:
          0 0 8px #fff,
          inset 0 0 8px #fff,
          0 0 12px #ffc6f7,
          inset 0 0 12px #ffc6f7,
          0 0 17px #ffc6f7,
          inset 0 0 17px #ffc6f7;
}